:root {
  --rb-primary-alert: rgb(217, 119, 6, 0.2);
  --rb-secondary-alert: rgb(156, 163, 175, 0.2);
  --rb-success-alert: rgb(16, 185, 129, 0.2);
  --rb-warning-alert: rgb(251, 191, 36, 0.2);
  --rb-primary: #d97706;
  --rb-dark-grey: #9ca3af;
  --rb-green: #10b981;
  --rb-yellow: #fbbf24;
}

.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin: 0.5rem 0;
  border-radius: 5px;
}

.alert p {
  padding: 0;
}

.alert.primary {
  color: var(--rb-primary);
  background-color: var(--rb-primary-alert);
  border: 1px solid var(--rb-primary);
}

.alert.secondary {
  background-color: var(--rb-secondary-alert);
  border: 1px solid var(--rb-dark-grey);
}

.alert.success {
  background-color: var(--rb-success-alert);
  border: 1px solid var(--rb-green);
}

.alert.warning {
  background-color: var(--rb-warning-alert);
  border: 1px solid var(--rb-yellow);
}

.button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 0.2rem;
  cursor: pointer;
}
