:root {
  --rb-primary-alert: rgb(217, 119, 6, 0.2);
  --rb-secondary-alert: rgb(156, 163, 175, 0.2);
  --rb-success-alert: rgb(16, 185, 129, 0.2);
  --rb-warning-alert: rgb(251, 191, 36, 0.2);
  --rb-very-dark-brown: #78350f;
  --rb-light-black: #111827;
  --rb-very-dark-green: #064e3b;
  /* --rb-orange: #f59e0b; */
}

.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin: 0.5rem 0;
  letter-spacing: 1px;
  border-radius: 5px;
}

.alert p {
  padding: 0;
}

.alert.primary {
  color: var(--rb-very-dark-brown);
  background-color: var(--rb-primary-alert);
  border: 1px solid var(--rb-very-dark-brown);
}

.alert.secondary {
  color: var(--rb-light-black);
  background-color: var(--rb-secondary-alert);
  border: 1px solid var(--rb-light-black);
}

.alert.success {
  color: var(--rb-very-dark-green);
  background-color: var(--rb-success-alert);
  border: 1px solid var(--rb-very-dark-green);
}

.alert.warning {
  color: var(--rb-very-dark-brown);
  background-color: var(--rb-warning-alert);
  border: 1px solid var(--rb-very-dark-brown);
}

.button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 0.2rem;
  cursor: pointer;
}
