:root {
  --rb-primary: #d97706;
  --rb-dark-grey: #9ca3af;
  --rb-green: #10b981;
  --rb-yellow: #fbbf24;
  --rb-very-light-grey: #f9fafb;
  --rb-light-black: #111827;
}

.badge {
  padding: 0.2rem 0.4rem;
  font-weight: 600;
  border-radius: 5px;
  color: var(--rb-very-light-grey);
}

.badge.primary {
  background-color: var(--rb-primary);
}

.badge.secondary {
  background-color: var(--rb-dark-grey);
  color: var(--rb-very-light-grey);
}

.badge.success {
  background-color: var(--rb-green);
  color: var(--rb-very-light-grey);
}

.badge.warning {
  background-color: var(--rb-yellow);
  color: var(--rb-light-black);
}

.badge-icon {
  position: relative;
}

.badge-i {
  position: absolute;
  top: 0;
  right: -0.5rem;
  font-size: 1.1rem;
  padding: 2px 0.6rem;
  z-index: 2;
  background-color: var(--rb-primary);
  color: var(--rb-very-light-grey);
  border-radius: 50%;
}

.indicator {
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  background-color: var(--rb-green);
}

.ind-xs {
  bottom: 0.5rem;
  right: 0;
  width: 5px;
  height: 5px;
}
.ind-s {
  bottom: 0.5rem;
  right: 0.1rem;
  width: 10px;
  height: 10px;
}
.ind-m {
  bottom: 0.5rem;
  right: 0.2rem;
  width: 12px;
  height: 12px;
}
.ind-l {
  bottom: 0.5rem;
  right: 0.2rem;
  width: 15px;
  height: 15px;
}
.ind-xl {
  bottom: 0.5rem;
  right: 0.2rem;
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .ind-xs {
    bottom: 0.5rem;
    right: 0.8rem;
    width: 10px;
    height: 10px;
  }
  .ind-s {
    bottom: 0.8rem;
    right: 1.3rem;
    width: 12px;
    height: 12px;
  }
  .ind-m {
    bottom: 0.9rem;
    right: 1.8rem;
    width: 15px;
    height: 15px;
  }
  .ind-l {
    bottom: 0.9rem;
    right: 2.5rem;
    width: 20px;
    height: 20px;
  }
  .ind-xl {
    bottom: 1.2rem;
    right: 2.5rem;
    width: 25px;
    height: 25px;
  }
}
