.badge {
  padding: 0.2rem 0.4rem;
  font-weight: 600;
  border-radius: 0.3rem;
  letter-spacing: 1px;
  color: var(--rb-very-light-grey);
}

.badge.primary {
  background-color: var(--rb-primary);
}

.badge.secondary {
  background-color: var(--rb-dark-grey);
  color: var(--rb-very-light-grey);
}

.badge.success {
  background-color: var(--rb-green);
  color: var(--rb-very-light-grey);
}

.badge.warning {
  background-color: var(--rb-yellow);
  color: var(--rb-light-black);
}

.badge-icon {
  position: relative;
  cursor: pointer;
}

.badge-icon i:hover {
  color: var(--rb-dark-grey);
}

.badge-i {
  position: absolute;
  top: 0;
  right: -0.5rem;
  font-size: 1.1rem;
  padding: 0.1rem 0.6rem;
  background-color: var(--rb-primary);
  color: var(--rb-very-light-grey);
  border-radius: 50%;
}

.indicator {
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  background-color: var(--rb-green);
  border: 0.1rem solid var(--rb-very-light-grey);
}

.ind-xs {
  bottom: 0.5rem;
  right: 0;
  width: 0.3rem;
  height: 0.3rem;
}
.ind-s {
  bottom: 0.5rem;
  right: 0.1rem;
  width: 0.6rem;
  height: 0.6rem;
}
.ind-m {
  bottom: 0.5rem;
  right: 0.2rem;
  width: 0.75rem;
  height: 0.75rem;
}
.ind-l {
  bottom: 0.5rem;
  right: 0.2rem;
  width: 0.9rem;
  height: 0.9rem;
}
.ind-xl {
  bottom: 0.5rem;
  right: 0.2rem;
  width: 1.25rem;
  height: 1.25rem;
}

@media screen and (min-width: 768px) {
  .ind-xs {
    bottom: 0.5rem;
    right: 0.8rem;
    width: 0.6rem;
    height: 0.6rem;
  }
  .ind-s {
    bottom: 0.8rem;
    right: 1.3rem;
    width: 0.75rem;
    height: 0.75rem;
  }
  .ind-m {
    bottom: 0.9rem;
    right: 1.8rem;
    width: 0.9rem;
    height: 0.9rem;
  }
  .ind-l {
    bottom: 0.9rem;
    right: 2.5rem;
    width: 1.25rem;
    height: 1.25rem;
  }
  .ind-xl {
    bottom: 1.2rem;
    right: 2.5rem;
    width: 1.56rem;
    height: 1.56rem;
  }
}
