@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --ff: "Assistant", sans-serif;
  --code-ff: "Source Code Pro", monospace;
  --rb-primary: #d97706;
  --rb-very-light-grey: #f9fafb;
  --rb-light-grey: #f3f4f6;
  --rb-grey: #d1d5db;
  --rb-light-black: #111827;
  --rb-red: #dc2626;
  --rb-blue: #3b82f6;
}

body {
  background-color: var(--rb-light-grey);
}

li {
  list-style-position: inside;
}

/* Mobile Design */

/* Navbar */
.navbar {
  z-index: 10;
  display: flex;
  align-items: center;
  height: 4rem;
  justify-content: space-between;
  font-family: var(--ff);
  padding: 1.2rem 2rem;
  background-color: var(--rb-primary);
  color: var(--rb-very-light-grey);
  /* border: 1px solid black; */
}

.fix-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-brand {
  font-size: 1rem;
}

.brand-logo {
  text-decoration: none;
  color: var(--rb-very-light-grey);
}

.nav-highlight {
  padding: 0.2rem 0.5rem;
  border-radius: 2px;
  background-color: var(--rb-very-light-grey);
  color: var(--rb-primary);
}

.version-mobile {
  display: block;
  padding: 0.4rem;
  /* border: 1px solid black; */
}

#nav-toggle {
  display: block;
  background-color: transparent;
  border: 2px solid var(--rb-light-black);
  border-radius: 5px;
  color: var(--rb-very-light-grey);
  padding: 0.2rem 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

#nav-toggle:active {
  border-color: var(--rb-light-black);
  box-shadow: 0 0 0.2rem 1px var(--rb-light-black);
}

#nav-pills-mobile {
  position: fixed;
  z-index: 2;
  top: 4rem;
  left: 0;
  right: 0;
  display: none;
  font-size: 1.5rem;
  /* border: 1px solid black; */
}

.nav-links-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  height: 100vh;
  background-color: var(--rb-primary);
  /* border: 1px solid black; */
}

.nav-links-mobile .link a {
  text-decoration: none;
  color: var(--rb-very-light-grey);
}

/* Search mobile */

.search-mobile {
  margin-top: 4rem;
  padding: 0.5rem;
  text-align: center;
  border-bottom: 1px solid var(--rb-grey);
}

.search-mobile input {
  font-family: var(--ff);
  padding: 0.5rem;
  font-size: 1.1rem;
  width: 60%;
  outline: none;
  background-color: var(--rb-light-grey);
  border: 2px solid var(--rb-primary);
  border-radius: 5px;
}

.search-mobile input:focus {
  border-color: var(--rb-primary);
  box-shadow: 0 0 0.2rem 1px var(--rb-primary);
}

.search-mobile .search-button {
  background-color: transparent;
  border: 2px solid var(--rb-primary);
  border-radius: 5px;
  color: var(--rb-very-light-grey);
  background-color: var(--rb-primary);
  padding: 0.5rem 0.7rem;
  margin-left: 0.2rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.search-button:active {
  border-color: var(--rb-primary);
  box-shadow: 0 0 0.2rem 1px var(--rb-primary);
}

.documentation {
  display: block;
  max-width: 100%;
}

.section {
  font-family: var(--ff);
  padding: 1rem 2rem;
  /* border: 1px solid black; */
}

.section-heading {
  font-size: 2.5rem;
}

.section-para {
  font-size: 1.5rem;
  font-weight: 300;
}

.section h2 {
  padding: 1rem 0;
}

.section h3 {
  padding: 1rem 0;
}

.css-bash,
.js-bash,
.starter-template-bash,
.avatar-bash,
.alert-bash,
.badge-bash,
.badge-icon-bash,
.badge-avatar-bash,
.button-bash,
.card-badge-bash,
.card-dismiss-bash,
.card-overlay-bash,
.card-text-bash,
.card-horizontal-bash,
.card-shadow-bash,
.image-responsive-bash,
.image-round-bash,
.textbox-bash,
.validation-bash,
.list-bash,
.navigation-bash,
.modal-bash {
  overflow: auto;
  /* border: 1px solid black; */
}

iframe {
  margin-top: 1rem;
  border: 0;
  transform: scale(1);
  overflow: hidden;
  /* border: 1px solid black; */
}

.css-bash iframe {
  width: 654px;
  height: 108px;
}

.js-bash iframe {
  width: 510px;
  height: 125px;
}

.starter-template-bash iframe {
  width: 687px;
  height: 450px;
}

.avatar-bash iframe {
  width: 740px;
  height: 344px;
}

.alert-bash iframe {
  width: 410px;
  height: 520px;
}

.badge-bash iframe {
  width: 440px;
  height: 160px;
}

.badge-icon-bash iframe {
  width: 333px;
  height: 250px;
}

.badge-avatar-bash iframe {
  width: 750px;
  height: 430px;
}

.button-bash iframe {
  width: 730px;
  height: 308px;
}

.card-badge-bash iframe {
  width: 670px;
  height: 290px;
}

.card-dismiss-bash iframe,
.card-overlay-bash iframe {
  width: 665px;
  height: 344px;
}

.card-text-bash iframe {
  width: 670px;
  height: 380px;
}

.card-shadow-bash iframe {
  width: 670px;
  height: 272px;
}

.image-responsive-bash iframe {
  width: 540px;
  height: 128px;
}

.image-round-bash iframe {
  width: 640px;
  height: 128px;
}

.textbox-bash iframe {
  width: 415px;
  height: 146px;
}

.validation-bash iframe {
  width: 560px;
  height: 902px;
}

.list-bash iframe {
  width: 805px;
  height: 686px;
}

.navigation-bash iframe {
  width: 603px;
  height: 578px;
}

.modal-bash iframe {
  width: 586px;
  height: 360px;
}

.avatar-container {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  padding: 1rem 0;
  /* border: 1px solid black; */
}

.alert-container {
  display: flex;
  flex-direction: column;
}

.badge-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1rem 0;
  /* border: 1px solid black; */
}

.badge-icon-container {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  font-size: 3rem;
  /* border: 1px solid black; */
}

.btn-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  height: 100px;
  color: var(--rb-grey);
}

.footer-pills {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  list-style: none;
  /* border: 1px solid black; */
}

.footer-pills .link a {
  color: var(--rb-light-black);
}

.footer-text {
  color: var(--rb-light-black);
}

/* Disable desktop */

.version-desktop {
  display: none;
}

#nav-links-desktop {
  display: none;
}

.nav-links-desktop {
  display: none;
}

.search-desktop {
  display: none;
}

.sidebar {
  display: none;
}

.grid-row {
  display: block;
}

/* Desktop version */

@media screen and (min-width: 768px) {
  /* Grid Layout */

  .navbar {
    grid-area: nav;
    height: 80px;
    padding: 1.2rem 5rem;
    /* border: 1px solid black; */
  }

  .sidebar {
    grid-area: sidebar;
    display: block;
    position: fixed;
    top: 4rem;
    left: 0;
    width: 20vw;
    height: 90vh;
    overflow: auto;
    padding: 2rem 0;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: var(--ff);
    border: 1px solid var(--rb-grey);
  }

  .documentation {
    grid-area: doc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 90%;
    margin: 5rem auto;
    /* border: 1px solid black; */
  }

  .grid-row {
    display: grid;
    grid-template-columns: 20vw 1fr;
    grid-template-areas:
      "nav nav "
      "sidebar doc";
  }

  /* Navbar left */

  .nav-brand {
    font-size: 1.2rem;
    /* border: 1px solid black; */
  }

  #nav-links-desktop {
    display: block;
  }

  .nav-links-desktop {
    display: flex;
    height: auto;
    list-style: none;
    font-size: 1.2rem;
    /* border: 1px solid black; */
  }

  .nav-links-desktop .link {
    padding-left: 1.5rem;
    font-size: 1.2rem;
  }

  .nav-links-desktop .link a {
    text-decoration: none;
    color: var(--rb-very-light-grey);
  }

  /* Navbar Right */

  .nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 40%;
    /* border: 1px solid black; */
  }

  .search-desktop {
    display: block;
    width: 100%;
    /* border: 1px solid black; */
  }

  .search-desktop input {
    padding: 0.5rem;
    font-size: 1.1rem;
    width: 60%;
    outline: none;
    background-color: var(--rb-light-grey);
    border: 2px solid var(--rb-light-black);
    border-radius: 5px;
  }

  .search-desktop input:focus {
    border-color: var(--rb-light-black);
    box-shadow: 0 0 0.5rem 2px var(--rb-light-black);
  }

  .search-desktop .search-button {
    background-color: transparent;
    border: 2px solid var(--rb-light-black);
    border-radius: 5px;
    color: var(--rb-very-light-grey);
    padding: 8px 0.7rem;
    margin-left: 0.2rem;
    font-size: 1.1rem;
    cursor: pointer;
  }

  .search-desktop .search-button:active {
    border-color: var(--rb-light-black);
    box-shadow: 0 0 0.5rem 2px var(--rb-light-black);
  }

  .version-desktop {
    display: block;
    font-size: 1.2rem;
    padding: 0.5rem;
    /* border: 1px solid black; */
  }

  /* Sidebar */

  .sidenav-pills {
    list-style: none;
    /* border: 1px solid black; */
  }

  .sidenav-pills .link {
    padding: 0.5rem 0;
    /* border: 1px solid black; */
  }

  .sidenav-pills .link a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 0.5rem 0;
    color: var(--rb-light-black);
  }

  .sidenav-pills .link a:hover {
    background-color: var(--light-grey);
    color: var(--rb-light-black);
  }

  .section {
    padding: 1.5rem 2rem;
    /* border: 1px solid black; */
  }

  .section-heading {
    font-size: 3rem;
  }

  .section .section-para {
    font-size: 2rem;
    font-weight: 300;
  }

  .section p {
    font-size: 1.2rem;
    padding: 1rem 0;
  }

  /* Disbling mobile */

  #nav-toggle {
    display: none;
  }

  .nav-links-mobile {
    display: none;
  }

  .search-mobile {
    display: none;
  }

  .version-mobile {
    display: none;
  }
}
