:root {
  --rb-grey: #d1d5db;
  --rb-primary: #d97706;
  --rb-very-light-grey: #f9fafb;
  --rb-light-black: #111827;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: 3;
  background-color: var(--rb-light-black);
}

.btn-show-modal {
  padding: 0.5rem 0.7rem;
  margin: 0 0.2rem;
  font-size: 1rem;
  border: 2px solid var(--rb-primary);
  border-radius: 5px;
  margin: auto;
  opacity: 0.9;
  cursor: pointer;
  color: var(--rb-very-light-grey);
  background-color: var(--rb-primary);
}

.btn-show-modal:active {
  border-color: var(--rb-primary);
  box-shadow: 0 0 0.5rem 2px var(--rb-primary);
}

.modal {
  display: none;
  position: fixed;
  top: 15rem;
  left: 1rem;
  right: 1rem;
  z-index: 5;
  background-color: var(--rb-very-light-grey);
  color: var(--rb-light-black);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem;
  border: 1px solid var(--rb-grey);
}

.modal-close {
  font-size: 2rem;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  /* border: 1px solid black; */
}

.modal-text {
  padding: 1rem;
}

.modal-footer {
  text-align: right;
  padding: 1rem;
  border: 1px solid var(--rb-grey);
}

.modal-footer button {
  padding: 0.5rem 0.7rem;
  margin: 0 0.2rem;
}

.modal-hide {
  font-size: 1rem;
  border: 2px solid var(--rb-grey);
  border-radius: 5px;
  opacity: 0.9;
  cursor: pointer;
  color: var(--rb-light-black);
  background-color: var(--rb-grey);
}

.modal-hide:hover,
.modal-hide:hover,
.btn-show-modal:hover {
  opacity: 1;
}

.modal-hide:active {
  border-color: var(--rb-grey);
  box-shadow: 0 0 0.5rem 2px var(--rb-grey);
}

.modal-save {
  font-size: 1rem;
  border: 2px solid var(--rb-primary);
  border-radius: 5px;
  opacity: 0.9;
  cursor: pointer;
  color: var(--rb-very-light-grey);
  background-color: var(--rb-primary);
}

.modal-save:active {
  border-color: var(--rb-primary);
  box-shadow: 0 0 0.5rem 2px var(--rb-primary);
}
