@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;500;700&display=swap");

:root {
  --ff: "Assistant", sans-serif;
  --rb-primary: #d97706;
  --rb-very-light-grey: #f9fafb;
  --rb-light-grey: #f3f4f6;
  --rb-grey: #d1d5db;
  --rb-light-black: #111827;
}

.navbar {
  display: flex;
  align-items: center;
  height: 4rem;
  justify-content: space-between;
  font-family: var(--ff);
  padding: 1.2rem 2rem;
  background-color: var(--rb-primary);
  color: var(--rb-very-light-grey);
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-brand {
  font-size: 1rem;
}

.brand-logo {
  text-decoration: none;
  color: var(--rb-very-light-grey);
}

.nav-highlight {
  padding: 0.2rem 0.5rem;
  border-radius: 2px;
  background-color: var(--rb-very-light-grey);
  color: var(--rb-primary);
}

#nav-toggle {
  display: block;
  background-color: transparent;
  border: 2px solid var(--rb-light-black);
  border-radius: 5px;
  color: var(--rb-very-light-grey);
  padding: 0.2rem 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

#nav-toggle:active {
  border-color: var(--rb-light-black);
  box-shadow: 0 0 0.2rem 1px var(--rb-light-black);
}

#nav-pills-mobile {
  position: fixed;
  z-index: 2;
  top: 4rem;
  left: 0;
  right: 0;
  display: none;
  font-size: 1.5rem;
}

.nav-links-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  height: 100vh;
  background-color: var(--rb-primary);
}

.nav-links-mobile .link a {
  text-decoration: none;
  color: var(--rb-very-light-grey);
}

#nav-links-desktop {
  display: none;
}

.nav-links-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar {
    height: 80px;
    padding: 1.2rem 3rem;
  }

  /* Navbar left */

  .nav-brand {
    font-size: 1.2rem;
  }

  #nav-links-desktop {
    display: block;
  }

  .nav-links-desktop {
    display: flex;
    height: auto;
    list-style: none;
    font-size: 1.2rem;
  }

  .nav-links-desktop .link {
    padding-left: 1.5rem;
    font-size: 1.2rem;
  }

  .nav-links-desktop .link a {
    text-decoration: none;
    color: var(--rb-very-light-grey);
  }

  /* Navbar Right */

  .nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 40%;
  }

  #nav-toggle {
    display: none;
  }

  .nav-links-mobile {
    display: none;
  }
}
