@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;500;700&display=swap");
@import "/css/avatar.css";
@import "/css/alert.css";
@import "/css/badge.css";
@import "/css/button.css";
@import "/css/card.css";
@import "/css/images.css";
@import "/css/inputs.css";
@import "/css/lists.css";
@import "/css/navigation.css";
@import "/css/modal.css";
@import "/css/ratings.css";
@import "/css/slider.css";
@import "/css/grid.css";
@import "/css/toast.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: "Assistant", sans-serif;
}

:root {
  --rb-primary: #d97706;
  --rb-very-light-grey: #f9fafb;
  --rb-light-grey: #f3f4f6;
  --rb-grey: #d1d5db;
  --rb-dark-grey: #9ca3af;
  --rb-light-black: #111827;
  --rb-black: #17181e;
  --rb-light-red: #ef4444;
  --rb-red: #dc2626;
  --rb-primary: #d97706;
  --rb-very-dark-brown: #78350f;
  --rb-green: #10b981;
  --rb-dark-green: #064e3b;
  --rb-very-dark-green: #064e3b;
  --rb-yellow: #fbbf24;
  --rb-light-black-shadow: rgb(17, 24, 39, 0.5);
  --rb-primary-alert: rgb(217, 119, 6, 0.2);
  --rb-secondary-alert: rgb(156, 163, 175, 0.2);
  --rb-success-alert: rgb(16, 185, 129, 0.2);
  --rb-warning-alert: rgb(251, 191, 36, 0.2);
}
