.toast {
  display: none;
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem;
  z-index: 10;
  text-align: center;
  background-color: var(--rb-light-black);
  color: var(--rb-very-light-grey);
  box-shadow: 0.18rem 0.1rem 0.5rem 1px var(--rb-light-black-shadow);
}

@media screen and (min-width: 768px) {
  .toast {
    left: 20rem;
    right: 20rem;
  }
}
